html{
    width: 100%;
    height: 100%;
}

body{
    background:url("../images/890.jpg") no-repeat;
    background-size: cover;
}

.authoris_panel{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#uLogin{
    background-color: rgba(0,0,0,.075);
    border-style: solid;
    border-width: 1px;
    border-color: #0d6aad;
    border-radius: 20px;
    padding: 10px;
}

#btn_twitter{
    margin-left: 10px;
}

#btn_vk{
    margin-left: 10px;
}

#btn_facebook{
    margin-left: 10px;
}

.center-block{
    width: 800px;
    height: 100%;
}
