html {
    width: 100%;
    height: 100%;
}

body {
    background: url("../images/main_background.jpg") no-repeat;
    background-size: cover;
    color: white;
}

header.navbar {
    background-color: #384452;
    border-bottom: 2px solid grey;
    padding: 10px;
}

header.navbar #site_title {
    color: white;
}

header.navbar ul a {
    color: white;
}

header.navbar ul a:hover,
header.navbar a.dropdown-toggle:focus {
    background-color: #4d5663;
}

header.navbar .dropdown-menu {
    background-color: #384452;
}

#headerwrap {
    padding-top: 100px;
}